.listContainerItem {
    background-color: rgb(42, 42, 88);
    color: white;
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    padding: 15px;
    justify-content: space-between;
    display: flex;
    align-items: center;
}

.listContainerItemTrue {
    background-color: #566573 !important;
}

.listCIok {
    display: flex;
    gap: 10px;
    align-items: center;
}

.listCIok p {
    margin: 0 !important;
}

.spans{
    display: flex;
    gap: 10px;
}

.spans .complete{
    color: #48C9B0;
}

.spans .delete{
    color: #EC7063;
}

.titulo-neon {
    cursor: pointer;
    font-size: 18px;
}

.titulo-neon:hover {
    animation: coloresHover 2s linear infinite;
}

@keyframes coloresHover {
    0% {
        color: #FF00FF;
    }

    25% {
        color: #00FFFF;
    }

    100% {
        color: #FF00FF;
    }
}