body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.divContenedor {
  min-height: 950px;
  background-color: #17202A;
  /* filter: opacity(80%); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 3;
}

.Contenido {
  z-index: 10 !important;
  background-color: #17202A;
  columns: #FFF;
  width: 340px;
  border-radius: 12px;
  padding: 14px;
  min-height: 500px;

  border: 2px solid transparent;
  animation: Contenido 2s infinite;
}

@keyframes Contenido {
  0% {
    border-color: #FF00FF;
  }

  25% {
    border-color: #00FFFF;
  }

  100% {
    border-color: #FF00FF;
  }
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}